@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #dbeffe;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #cbe7fd;
}

.container input:checked ~ .checkmark {
  background-color: #289df6;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #a3e635;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}





/* /////////////////////// */

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #a3e635;
  border-radius: 30px;
}
input[type='range']::-webkit-slider-thumb {
    border: 1px solid #76bf00;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: #7fcb04;;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
  margin-left: 8px;
}
